/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

header {
  background-color: #1a3556;
  color: #fff;
  text-align: center;
  padding: 2rem;
}

nav {
  background-color: #1a3556;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  padding: 0.5rem;
}

nav a:hover {
  background-color: #183049;
  border-radius: 5px;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 1.8rem;
  margin: 0;
}

h3 {
  font-size: 1.4rem;
  margin: 0;
  color: #1a3556;
}

section {
  padding: 2rem;
}

/* Specific styles for the content */

/* About Me section */
#about p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

/* Working Skills section */
#about ul {
  list-style: none;
  padding-left: 1rem;
}

#about li {
  margin-bottom: 0.5rem;
}

/* Projects section */
.project {
  margin-bottom: 2rem;
}

.project h3 {
  margin-top: 1rem;
}

/* Personal Skills section */
#personal-skills ul {
  list-style: none;
  padding-left: 1rem;
}

#personal-skills li {
  margin-bottom: 0.5rem;
}

/* Contact section */
#contact p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

/* Additional styling for links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
